extends layout.pug

block content
  h1 Track Visualizer
  h4 Let this spotify API based track visualizer show you oscilloscopes, frequency bars and word clouds based on your favorite songs!
  h4 The oscilloscopes and frequency bars will be synced with your music, that you can listen to with the embedded player. The lyrics are fetched from the musixmatch API and will be used to generate a word cloud. All these features require you to log in to your spotify account first. So let's get started!
  a(class='login_link' href='/authorize') Log in